## Pyspark Dataframes

- Filter operation
- &, |, ==
- ~

In [1]:
from pyspark.sql import SparkSession

In [2]:
spark = SparkSession.builder.appName('dataframe').getOrCreate()

In [3]:
df_pyspark = spark.read.csv('test3.csv', header=True, inferSchema=True)

In [4]:
df_pyspark.show()

+-------+---+----------+------+
|   Name|Age|Experience|Salary|
+-------+---+----------+------+
|  Limon| 31|        10| 30000|
|  Dalya| 30|         8| 25000|
|   Viko| 29|         4| 20000|
|   Paul| 24|         3| 20000|
| Harsha| 21|         1| 15000|
|Shubham| 23|         2| 18000|
+-------+---+----------+------+

## Filter operations

In [5]:
# Salary of the people who earns less than or equal to 20k

df_pyspark.filter("Salary <= 20000").show()

+-------+---+----------+------+
|   Name|Age|Experience|Salary|
+-------+---+----------+------+
|   Viko| 29|         4| 20000|
|   Paul| 24|         3| 20000|
| Harsha| 21|         1| 15000|
|Shubham| 23|         2| 18000|
+-------+---+----------+------+

In [6]:
df_pyspark.filter("Salary <= 20000").select(['Name', 'Age']).show()

+-------+---+
|   Name|Age|
+-------+---+
|   Viko| 29|
|   Paul| 24|
| Harsha| 21|
|Shubham| 23|
+-------+---+

In [7]:
df_pyspark.filter(df_pyspark['Salary'] <= 20000).show()

+-------+---+----------+------+
|   Name|Age|Experience|Salary|
+-------+---+----------+------+
|   Viko| 29|         4| 20000|
|   Paul| 24|         3| 20000|
| Harsha| 21|         1| 15000|
|Shubham| 23|         2| 18000|
+-------+---+----------+------+

In [8]:
df_pyspark.filter((df_pyspark['Salary'] <= 20000) & 
                  (df_pyspark['Salary'] >= 15000)).show()

+-------+---+----------+------+
|   Name|Age|Experience|Salary|
+-------+---+----------+------+
|   Viko| 29|         4| 20000|
|   Paul| 24|         3| 20000|
| Harsha| 21|         1| 15000|
|Shubham| 23|         2| 18000|
+-------+---+----------+------+

In [9]:
df_pyspark.filter((df_pyspark['Salary'] <= 20000) | 
                  (df_pyspark['Salary'] >= 15000)).show()

+-------+---+----------+------+
|   Name|Age|Experience|Salary|
+-------+---+----------+------+
|  Limon| 31|        10| 30000|
|  Dalya| 30|         8| 25000|
|   Viko| 29|         4| 20000|
|   Paul| 24|         3| 20000|
| Harsha| 21|         1| 15000|
|Shubham| 23|         2| 18000|
+-------+---+----------+------+

In [10]:
df_pyspark.filter(~(df_pyspark['Salary'] <= 20000)).show()

+-----+---+----------+------+
| Name|Age|Experience|Salary|
+-----+---+----------+------+
|Limon| 31|        10| 30000|
|Dalya| 30|         8| 25000|
+-----+---+----------+------+