## PySpark Groupby and Aggregate Functions

In [1]:
from pyspark.sql import SparkSession

In [2]:
spark = SparkSession.builder.appName('Agg').getOrCreate()

In [3]:
spark

In [4]:
# Read the dataset

df_pyspark = spark.read.csv('test4.csv', header=True, inferSchema=True)

In [5]:
df_pyspark.show()

+---------+-------------+------+
|     Name|   Department|Salary|
+---------+-------------+------+
|    Limon| Data Science| 10000|
|    Dalya|          IOT|  5000|
|     Viko|     Big Data|  4000|
|     Paul|     Big Data|  4000|
|   Harsha| Data Science|  3000|
|  Shubham|Data Engineer| 20000|
|   Mahesh|          IOT| 10000|
|Sudhanshu|     Big Data|  5000|
|    Sunny|Data Engineer| 10000|
|  Prakash| Data Analyst|  2000|
+---------+-------------+------+

In [6]:
# Check the cloumns

df_pyspark.printSchema()

root
 |-- Name: string (nullable = true)
 |-- Department: string (nullable = true)
 |-- Salary: integer (nullable = true)

In [7]:
# Perform Groupby operations

df_pyspark.groupBy('Name')

In [8]:
df_pyspark.groupBy('Name').sum()

DataFrame[Name: string, sum(Salary): bigint]

In [9]:
# Grouped to find the max salary

df_pyspark.groupBy('Name').sum().show()

+---------+-----------+
|     Name|sum(Salary)|
+---------+-----------+
|    Dalya|       5000|
|    Limon|      10000|
|     Viko|       4000|
|Sudhanshu|       5000|
|    Sunny|      10000|
|   Harsha|       3000|
|  Prakash|       2000|
|     Paul|       4000|
|  Shubham|      20000|
|   Mahesh|      10000|
+---------+-----------+

In [10]:
# GroupBy 'Department' to get max salary

df_pyspark.groupBy('Department').sum().show()

+-------------+-----------+
|   Department|sum(Salary)|
+-------------+-----------+
|          IOT|      15000|
| Data Analyst|       2000|
|     Big Data|      13000|
| Data Science|      13000|
|Data Engineer|      30000|
+-------------+-----------+

In [11]:
df_pyspark.groupBy('Department').mean().show()

# Here, mean will be based on how many people are working in the department

+-------------+-----------------+
|   Department|      avg(Salary)|
+-------------+-----------------+
|          IOT|           7500.0|
| Data Analyst|           2000.0|
|     Big Data|4333.333333333333|
| Data Science|           6500.0|
|Data Engineer|          15000.0|
+-------------+-----------------+

In [12]:
# How many no.of employees are working based on 'Department'

df_pyspark.groupBy('Department').count().show()

+-------------+-----+
|   Department|count|
+-------------+-----+
|          IOT|    2|
| Data Analyst|    1|
|     Big Data|    3|
| Data Science|    2|
|Data Engineer|    2|
+-------------+-----+

In [13]:
df_pyspark.agg({'Salary': 'sum'}).show()

+-----------+
|sum(Salary)|
+-----------+
|      73000|
+-----------+

In [14]:
# Max salary that the person is getting

df_pyspark.groupBy('Name').max().show()

+---------+-----------+
|     Name|max(Salary)|
+---------+-----------+
|    Dalya|       5000|
|    Limon|      10000|
|     Viko|       4000|
|Sudhanshu|       5000|
|    Sunny|      10000|
|   Harsha|       3000|
|  Prakash|       2000|
|     Paul|       4000|
|  Shubham|      20000|
|   Mahesh|      10000|
+---------+-----------+

In [15]:
df_pyspark.groupBy('Name').min().show()

+---------+-----------+
|     Name|min(Salary)|
+---------+-----------+
|    Dalya|       5000|
|    Limon|      10000|
|     Viko|       4000|
|Sudhanshu|       5000|
|    Sunny|      10000|
|   Harsha|       3000|
|  Prakash|       2000|
|     Paul|       4000|
|  Shubham|      20000|
|   Mahesh|      10000|
+---------+-----------+

In [16]:
df_pyspark.groupBy('Name').avg().show()

+---------+-----------+
|     Name|avg(Salary)|
+---------+-----------+
|    Dalya|     5000.0|
|    Limon|    10000.0|
|     Viko|     4000.0|
|Sudhanshu|     5000.0|
|    Sunny|    10000.0|
|   Harsha|     3000.0|
|  Prakash|     2000.0|
|     Paul|     4000.0|
|  Shubham|    20000.0|
|   Mahesh|    10000.0|
+---------+-----------+