In [1]:
# !pip install pyspark
# !pip install pandas

In [2]:
import pyspark

In [3]:
import pandas as pd
pd.read_csv('./test1.csv', delimiter=',')

    Name  Age
0  Limon   31
1  Dalya   30
2   Viko   29

In [4]:
type(pd.read_csv('./test1.csv', delimiter=','))

pandas.core.frame.DataFrame

In [5]:
from pyspark.sql import SparkSession

In [6]:
spark = SparkSession.builder.appName('Practice').getOrCreate()

In [7]:
spark

In [8]:
# Read a dataset with Spark

df_pyspark = spark.read.csv('./test1.csv')

In [9]:
df_pyspark.show()

+-----+---+
|  _c0|_c1|
+-----+---+
| Name|Age|
|Limon| 31|
|Dalya| 30|
| Viko| 29|
+-----+---+

In [10]:
spark.read.option('header', 'true').csv('test1.csv')

DataFrame[Name: string, Age: string]

In [11]:
spark.read.option('header', 'true').csv('test1.csv').show()

+-----+---+
| Name|Age|
+-----+---+
|Limon| 31|
|Dalya| 30|
| Viko| 29|
+-----+---+

In [12]:
df_pyspark = spark.read.option('header', 'true').csv('test1.csv')

In [13]:
type(df_pyspark)

pyspark.sql.dataframe.DataFrame

In [14]:
df_pyspark.head(3)

[Row(Name='Limon', Age='31'),
 Row(Name='Dalya', Age='30'),
 Row(Name='Viko', Age='29')]

In [15]:
# See info about columns

df_pyspark.printSchema()

root
 |-- Name: string (nullable = true)
 |-- Age: string (nullable = true)